<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1 style="text-align:center;">Welcome to the Ziyotek Institute of Technology</h1>
<h2 style="text-align:center;">This is a student website page. Webserver 3</h2>
<p>The link below is Ziyotek website!</p>
<a href="https://www.ziyotek.com"style="color:green">This is a link</a>

<p>The image below is a link, it will take you to the ziyotek application page.</p>
<a href="https://www.ziyotek.com"style="color:yellow">This is a link</a>

<p>Click the button, it will take you to the AWS Academy</p>
<button onclick;href="https://aws.amazon.com/training/awsacademy/">AWS Academy</button>

</body>
</html>


<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://i.pinimg.com/originals/83/75/f3/8375f3dbed8867109ddb448e16f60582.jpg');
    color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>

<p id="demo"></p>

</body>
</html>

<!DOCTYPE html>
<html>
<head>
<body>

<h1 style="text-align:center;">Earth</h1>

<iframe style="video-align:center;" width="600" height="350" src="https://www.youtube.com/embed/DgqAAE9Aagc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" autoplay=1&mute=1 allowfullscreen></iframe>

</body>
</html>
